{% extends 'cal/base.html' %}

{% block title %}
Event
{% endblock %}

{% block content %}
<div class="right"><a class="btn btn-info left" class="right" href="{% url 'cal:calendar'%}"> Calendar </a></div>
<a class="btn btn-info left,right" href="{{request.META.HTTP_REFERER}}"> Previous </a>
<div class="text-center">
<a class="btn btn-info " href="{% url 'cal:edit_comment' comment_instance.id%}"> Edit Comment</a> 
<a class="btn btn-info " href="{% url 'cal:delete_comment_selection' comment_instance.id%}"> Delete Comment</a>
</div>
{% endblock %}