{% extends 'cal/base.html' %}

{% block title %}
Register
{% endblock %}

{% block content %}
<br></br>

<div class="a">
    <form method="POST" action="">
        {% csrf_token %}
        {{form.errors}}
        {{form.username.label_tag}}
        {{form.username}}<br><br>
        {{form.password1.label_tag}}
        {{form.password1}}<br><br>
        {{form.password2.label_tag}}
        {{form.password2}} <br><br>
        <input class="btn btn-info" type="submit" name="create user">
    </form>
    <p>Already have an account
        <a href="{% url 'cal:login_page'%}">Login</a>
    </p>
        <a href="{% url 'cal:calendar'%}">Exit</a>
</div>

{% endblock%}